*{
    font-family: sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 1.4;
}
body{
    margin: 0;
}
h1{
    font-size: 18px;
    padding-left: 40px;
}
li{
    line-height: 2;
}
p{
    text-indent: 30px;
    text-align: justify;
}
.center{
    text-align: center;
}
.description{
    padding: 10px;
    border-left: 3px solid silver;
}
.page-background {
    background-image: url(/img/page-background.jpg);
    background-color: #eaeaea;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
}
.page{
    max-width: 800px;
    padding: 10px 10px 40px;
    margin: 35px auto;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.page:last-child{
    margin-bottom: 200px;
}
.inl{
    display: inline-block;
}
.link{
    color: #0d5283;
    font-weight: bold;
}
.my-photo{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
}
.my-name{
    color: #ffffff;
    font-size: 30px;
    padding: 3px 8px;
    background: rgb(21, 120, 149);
    margin: -10px;
    margin-bottom: 15px;
    text-align: center;
}
.messenger-photo{
    border-radius: 50%;
    width: 100%;
    max-width: 181px;
    max-height: 181px;
}
.intro-container{
    margin: -10px;
    margin-bottom: 20px;
    background: rgba(132, 123, 116, 0.18);
    line-height: 0;
    display: flex;
}
.intro-info{
    vertical-align: top;
    padding: 10px;
}
.skill-badge{
    display: inline-block;
    color: white;
    background: #2865a3;
    margin: 8px;
    padding: 3px 8px;
    border-radius: 3px;
}
.green-badge{
    background: #207f20;
}
.dark-badge{
    background: #3b3b3b;
}
.orange-badge{
    background: #dc7000;
}

@media (max-width: 600px)  {
    .intro-container{
        display: block;
    }
}